/* Global */
:root {
    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #706cf1;
    --color-gray: #1b1e26;
    --color-white-gray: #262931;

    /* App color */
    --color-primary: var(--color-white);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-text: var(--color-white);
    --color-text-variant: #8f939f;
    --color-background: var(--color-black);

    /* Size */
    --size-max-width: 1200px
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus{
    outline: none;
}
button:active {
    outline : none;
}

/* Common */
.section {
    background-color: var(--color-background);
    color: var(--color-text);
    padding-top: 5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    color: var(--color-accent);
    margin: 1rem 0rem;
}
.sub_title {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}
.description {
    font-size: 1.5rem;
    margin: 1rem 2rem;
    font-weight: lighter;
    text-align: center;
}
.max-container {
    max-width: var(--size-max-width);
    margin: auto;
}

/* Header */
.header {
    position: fixed;
    position: top;
    background-color: transparent; /* FIXME */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 1;
    transition: all 300ms ease;
}
.header--dark {
    background-color: var(--color-background);
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 36px;
    height: 36px;
    transform: translateY(3px);
}

.header__logo__title {
    font-size: 1.4rem;
    font-weight: lighter;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    padding: 8px 16px;
    font-weight: lighter;
    border-bottom: 0.5px transparent;
}

.header__menu__item:hover {
    border-bottom: 0.5px solid var(--color-primary);
}

.header__menu__item.active {
    border-bottom: 0.5px solid var(--color-primary);
}

.header__toggle {
    display: none;
    color: var(--color-primary);
    font-size: 1.4rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
}

/* Home */
.home__container {
    margin: 0rem 2rem;
}
.home__profile {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.home__profile__title {
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
}
.home__profile__img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid var(--color-primary);
    border-radius: 80%;
    margin: 5%;
    transition: 300ms ease-in;
}
.home__profile__img:hover {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid var(--color-primary);
    border-radius: 80%;
    margin: 5%;
}

.home__introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home__introduction__description {
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
}
.home__introduction__description--strong{
    color: var(--color-accent);
}

.home__introduction__contact {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: lighter;
    border: 0.5px solid var(--color-primary);
    border-radius: 4px;
    margin: 1rem 1rem;
    transition: 200ms ease-in;
}
.home__introduction__contact:hover {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: lighter;
    color: var(--color-accent);
    border: 0.5px solid var(--color-accent);
    border-radius: 4px;
    margin: 1rem 1rem;
    transition: 200ms ease-in;
}

/* About */
.about__title {
    font-size: 2rem;
    font-weight: lighter;
    color: var(--color-accent);
    margin-top: 2rem;
}

.majors {
    width: 70%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0rem;
    text-align: center;
}
.major {
    width: 70%;
    background-color: var(--color-primary-variant);
    padding: 2rem 1rem;
    color : var(--color-text);
    border-radius: 1rem;
    cursor: default;
}
.major__title {
    height: 25%;
}
.major__description {
    font-weight: lighter;
    margin-bottom: 2rem;
}
.major__icon {
    font-size: 3rem;
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease;
}
.major:hover .major__icon{
    transform: scale(1.2);
}
.major:hover {
    box-shadow: var(--color-accent) 0px 0px 6px;
}
.major__title {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}


.jobs {
    text-align : start;
    margin-top: 1rem;
    display: flex;
}
.job {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 1rem;
}
.job__img {
    width: 50px;
    height: 50px;
    margin: 1rem;
}
.job__name {
    font-weight: normal;
}
.job__description {
    font-weight: lighter;
}
.job__education__img {
    width: 100%;
    height: 100%;
}
.job__blux__img {
    width: 130%;
    height: 60%;
    margin-top : 0.5rem;
    margin-right: 1rem;
    padding-right: 0.5rem;
}

/* Skills */

.skills__title {
    color : var(--color-accent);
    font-weight: normal;
    margin: 1rem 0;
    font-size: 1.2rem;
}
.skills-container {
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: 6fr 4fr;
    border-radius: 8px;
    overflow: hidden;
    margin: 1rem;
    text-align: center;
}

.skills__programming {
    grid-row: span 2;
    padding: 1rem;
    background-color: var(--color-primary-variant);
}
.skills__tools {
    padding: 1rem;
}
.skills__academic {
    padding: 1rem;
    background-color: var(--color-white-gray);
}

.bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}
.bar__metadata {
    display: flex;
    justify-content: space-between;
}
.bar__bg {
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}
.bar__value {
    width: 100%;
    height: 3px;
    background-color: var(--color-accent);
}

/* Works */
.models_intro {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
    gap: 1rem;
    border-bottom: 0.1px solid var(--color-primary-variant);
}
.model_button {
    color: var(--color-primary-variant);
    font-size: 1.1rem;
    font-weight: lighter;
    text-align: center;
    padding: 0.5rem 2.5rem;
    cursor: pointer;
}
.model_button:hover {
    color: var(--color-primary);
    font-size: 1.1rem;
    font-weight: lighter;
    padding: 0.5rem 2.5rem;
    cursor: pointer;
    border-bottom: 0.5px solid var(--color-primary);
}
.model_button.model--selected {
    color: var(--color-primary);
    border-bottom: 0.5px solid var(--color-primary);
}

.models {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-out;
}
.model {
    width: 70%;
    transition: all 300ms linear;
}
.model__list{
    text-align: center;
}
.model__metadata {
    display: flex;
    padding:10px 0px;
}
.model__title {
    font-weight: normal;
    color: var(--color-text);
}
.model__description {
    font-weight: lighter;
    text-align: start;
    font-size: 1.3rem;
    color: var(--color-text-variant);
}

/* Arrow up */
.arrow-up {
    background-color: var(--color-background);
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 2rem;
    color: var(--color-accent);
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 0 0px 10px var(--color-accent);
    transition: all 300ms ease;
}
.arrow-up:hover {
    transform: scale(1.1);
}
.arrow-up--transparent {
    opacity: 0;
}

/* Footer */

.contact__channels {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
}
.contact__channel {
    transition: color 250ms ease-in
}
.contact__channel:hover {
    color: var(--color-accent);
}

@media screen and (max-width: 768px) {
    .section {
        background-color: var(--color-background);
        color: var(--color-text);
        padding-top: 5rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title {
        font-size: 1.8rem;
    }
    .description {
        font-size: 1.4rem;
    }

    .header {
        flex-direction: column;
        align-items: start;
    }
    .header__menu {
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 1rem 4rem;
        gap: 1rem;
    }
    .header__menu__item {
        display: block;
    }
    .header__menu.open {
        display: flex;
        background-color: var(--color-background);
    }
    .header__nav {
        width: 100%;
    }
    .header__toggle {
        display: block;
    }

    .home__profile__title {
        font-size: 1.8rem;
    }
    .home__introduction__description {
        font-size: 1.4rem;
    }

    .about__title {
        font-size: 1.8rem;
    }
    .majors {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .major__icon {
        text-align: center;
    }
    .jobs {
        flex-direction: column;
    }
    .job__blux__img {
        width: 150%;
        height: 60%;
        padding-right: 1.4rem;
    }

    .skills-container {
        grid-template-columns: 1fr;
    }

    .models_intro {
        display: grid;
        width: 70%;
        height: 70%;
        grid-template-columns: 5fr 5fr;
        margin: 1rem 2rem;
        gap: 1rem;
        border-bottom: none;
    }
}